* {
  box-sizing: border-box;
}

:root {
  --first-nav-bg-color: #E4E4E4;
  --second-nav-bg-color: #F6F6F6;
  --border-color: #DEDEDE;
  --control-bg-color: #e9e9e9;
  --icon-color: #B5B5B5;
  --text-dark-color: #8D8D8D;
  --text-light-color: #B7B7B7;
  --contact-detail-bg-color: #fff;
  --male-icon-color: #47B6EF;
  --female-icon-color: #F37E7D;
  --button-text-color: #fff;
  --button-bg-color: #05C160;
}

body {
  background-image: url('@/assets/bg_mojave.webp');
  background-size: cover;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  user-select: none;
}

button {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 5px;
}

input {
  outline: none;
}

input[type="checkbox"] {
  vertical-align: text-bottom;
  cursor: pointer;
}

a {
  color: #3292ff;
  text-decoration: none;
}

img {
  vertical-align: top;
}

.btn {
  display: inline-block;
  min-width: 60px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.btn-primary {
  color: #fff;
  background-color: #44b549;
  border-color: #3eac27;
}

.btn-primary:hover {
  background-color: #4aaf33;
}

.btn-default {
  color: #000;
  background-color: #f1f1f1;
  border-color: #e6e7ec;
}